<div class="col-sm">
    <h3>Clients</h3>
<table class="demo">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Country</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let client of clients; let index = index"
        (change)=handlePositionChanged($event) 
        (itemRemoved)=removePosition($event)>
      <td>{{ index + 1 }}</td>
      <td>
        <input class="form-control" type="text" name="name" [value]="client.name" [(ngModel)]=client.name/>
      </td>
      <td>
        <input class="form-control" type="text" name="surname" [value]="client.surname" [(ngModel)]=client.surname />
      </td>
      <td>
        <input class="form-control" type="text" name="address" [value]="client.address" [(ngModel)]=client.address />
      </td>
      <td>
        <input class="form-control" type="text" name="city" [value]="client.city" [(ngModel)]=client.city />
      </td>
      <td>
        <input class="form-control" type="text" name="state" [value]="client.state" [(ngModel)]=client.state />
      </td>
      <td>
        <input class="form-control" type="text" name="zipCode" [value]="client.zipCode" [(ngModel)]=client.zipCode/>
      </td>
      <td>
        <input class="form-control" type="text" name="country" [value]="client.country" [(ngModel)]=client.country/>
      </td>
      <td>
        <button (click)=removeClient(index)>
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="invoice-positions__actions">
        <button (click)="addClient()" type="button" class="btn btn-primary invoice-positions__action">
          add position
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>