<h2>Client</h2>

<label for="client-select">Choose a client:</label>

<select id="client-select" (change)="onClientChange($event)">
    <option *ngFor="let client of clients"  [value]="client">{{ client.name }} {{ client.surname }}</option>
</select>

<div *ngIf="clients.length > 0">
    <p>Name: {{ currentClient.name }}</p>
    <p>Surname: {{ currentClient.surname }}</p>
    <p>Address: {{ currentClient.address }}</p>
    <p>City: {{ currentClient.city }}</p>
    <p>State: {{ currentClient.state }}</p>
    <p>Zip Code: {{ currentClient.zipCode }}</p>
    <p>Country: {{ currentClient.country }}</p>
</div>
