<!-- <tr>
    <th>
        {{lp}}
</th> -->
<!-- <td>
  <input class="form-control" type="text" name="name" [value]="client.name"/>
</td>
<td>
  <input class="form-control" type="text" name="surname" [value]="client.surname"/>
</td>
<td>
  <input class="form-control" type="text" name="address" [value]="client.address"/>
</td>
<td>
    <input class="form-control" type="text" name="city" [value]="client.city"/>
</td>
<td>
    <input class="form-control" type="text" name="state" [value]="client.state"/>
</td>
<td>
    <input class="form-control" type="text" name="zipCode" [value]="client.zipCode"/>
</td>
<td>
    <input class="form-control" type="text" name="country" [value]="client.country"/>
</td>-->
<!-- <td> 
  <button (click)=removePosition()>
    <i class="fa fa-trash"></i>
  </button>
</td>
</tr> -->